# MongoDB Atlas Connection String
MONGO_URI=mongodb+srv://rajadurai31:Rajadurai@45@auction.kiyxdq7.mongodb.net/?appName=Auction

# JWT Secret
JWT_SECRET=asjd9as8d7a9sd8a7sd98a7sd98a7sd9a87sd9a

# Server Port
PORT=5000

# Environment
NODE_ENV=development